@import './buttons.css';

body {
  background-color: #28527A;
  font-family: Arial, Helvetica, sans-serif;
}

.player {
  position: relative;
  margin-block-start: 100px;
}

.wrapper {
  max-inline-size: 900px;
  margin: auto;
}

.playerTitle {
  color: #FBEEAC;
  position: absolute;
  inset-block-start: 0px;
  inset-inline-start: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;

}
/* */
.playerActions {
  position: absolute;
  inset:0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;

}

.player video {
  inline-size: 100%;
  aspect-ratio: 16/9;
  vertical-align: middle;
  object-fit: cover;

}

.playerProgress {
  position:absolute;
  inset-block-end: 0;
  inset-inline: 0;
  display: flex;
}

.playerProgress input {
  flex:1;
  padding: 10px;
}
.playerOverlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: .3s opacity;
}

.player:hover .playerOverlay{
  opacity: 1;
}

